extends layout

block content
  h1 This is Abiotic Page
  -
    let results = [
      { name: 'Gold', type: 'Metal', cost : 20000 },
      { name: 'Silver', type: 'Metal;', cost: 25000 },
      { name: 'Platinum', type: 'Metal', cost : 125000 }
    ]

  .container-fluid
    .row
      each item, index in results
        .col-sm-2
          .search-result(onclick=`buy(${index})`) 
            h6 Name: #{item.name}
            h6 Type: #{item.type}
            h6 cost: #{item.cost}

  a(href="/") Back to index page

  script.
    function buy(index) {
      alert("You purchased item " + index);
    }